[http]
port="8888"
# server="127.0.0.1"
server="localhost"

[database]
# 目前只支持mysql,sqlite3,postgres
engine="mysql"
# sqlite3 似乎不需要账号密码host，port
host="localhost"
port="3306"
user="USER_NAME"
password="SECRET"
# sqlite3 需要的是一个文件路径
# 不填默认QKteam
dbname="DATABASE_NAME"
# 参数详情参照 https://github.com/go-sql-driver/mysql#parameters
#mysqlParams="parseTime=True&charset=utf8mb4&loc=Local"

[log]
# 指定打印哪个级别及以上的日志
# Debug / Info / Warning / Error / Panic / Fatal
level="Debug"
dir="./log"

[email]
username="example"
host="example@haha.com"
password="secret"
port="465"
